html {
  position: relative;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ermilov";
  src: url("../fonts/Ermilov-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h1, h2 {
  font-family: "Ermilov", serif;
  font-weight: bold;
  color: #000000;
}

p, a {
  font-family: "Montserrat";
  font-weight: normal;
  color: #000000;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  padding: 0;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.navbarr {
  position: fixed;
  width: 100%;
  max-width: 1920px;
  background-color: #ffffff;
  border: none;
  height: 100px;
  z-index: 999;
}
.navbarr .container-fluid {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  background-color: #ffffff;
}
.navbarr .container-fluid .navbar-header {
  min-height: 70px;
}
.navbarr .container-fluid .navbar-header .navbar-toggle {
  margin: 20px 20px 20px 0;
}
.navbarr .container-fluid .navbar-header .navbar-brand {
  padding: 10px;
}
@media (max-width: 768px) {
  .navbarr .container-fluid .navbar-header .navbar-brand .logo {
    width: auto;
    height: 50px;
  }
}
.navbarr .container-fluid .collapse {
  height: 100px !important;
  padding: 25px 0;
}
.navbarr .container-fluid .collapse .nav {
  font-size: 18px;
}
.navbarr .container-fluid .collapse .nav .dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}
.navbarr .container-fluid .collapse .nav .dropdown-menu {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.navbarr .container-fluid .collapse .nav .dropdown-menu .menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 0 20px;
  -moz-column-gap: 60px;
       column-gap: 60px;
  font-size: 16px;
}
.navbarr .container-fluid .collapse .nav .dropdown-menu .menu li {
  margin: 15px 0;
  min-width: 180px;
}
@media (max-width: 992px) {
  .navbarr .container-fluid .collapse .nav .dropdown-menu .menu {
    min-width: 80px;
    -moz-column-gap: 10px;
         column-gap: 10px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .navbarr .container-fluid .collapse .nav .dropdown-menu .menu {
    font-size: 14px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .navbarr .container-fluid .collapse .nav .dropdown:hover .dropdown-menu {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  .navbarr .container-fluid .collapse .nav .dropdown-menu {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .navbarr .container-fluid .collapse .nav .dropdown.open .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
.navbarr .container-fluid .collapse .nav .soc_container {
  margin-left: 35px;
}
.navbarr .container-fluid .collapse .nav .soc_container .soc_item {
  margin: 3px 10px 0 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #5C2E03;
}
@media (max-width: 992px) {
  .navbarr .container-fluid .collapse .nav .soc_container .soc_item {
    margin: 10px 5px 0 0 !important;
    width: 30px;
    height: 30px;
  }
  .navbarr .container-fluid .collapse .nav .soc_container .soc_item .img {
    width: 15px;
    height: auto;
  }
}
@media (max-width: 768px) {
  .navbarr .container-fluid .collapse .nav .soc_container .soc_item {
    margin: 10px 5px 0 0 !important;
    width: 44px;
    height: 44px;
  }
  .navbarr .container-fluid .collapse .nav .soc_container .soc_item .img {
    width: 20px;
    height: auto;
  }
}
@media (max-width: 768px) {
  .navbarr .container-fluid .collapse .nav .soc_container {
    margin: 0;
  }
}
@media (max-width: 992px) {
  .navbarr .container-fluid .collapse .nav {
    font-size: 16px;
  }
  .navbarr .container-fluid .collapse .nav .nav_item {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .navbarr .container-fluid .collapse .nav {
    font-size: 14px;
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .navbarr .container-fluid .collapse {
    height: auto !important;
  }
}

@media (max-width: 768px) {
  .navbarr {
    height: auto;
  }
}
.main {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 4px;
}

.main_n {
  margin: 0 auto;
}

.main__navigation {
  max-width: 1160px;
  width: 100%;
  margin: 140px auto 40px auto;
}
.main__navigation .img {
  margin: 0 8px;
}
.main__navigation .item__active {
  color: rgba(75, 36, 0, 0.6117647059);
}
.main__navigation .main__navigation__item {
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 400;
}
.main__navigation .main__navigation__item a {
  text-decoration: none;
  transition: none;
}
.main__navigation .main__navigation__item a:hover, .main__navigation .main__navigation__item a:focus, .main__navigation .main__navigation__item a:active {
  text-decoration: none;
  color: inherit;
}
.main__navigation .main__navigation__item:nth-child(1) {
  margin-left: 5px;
}
@media (max-width: 450px) {
  .main__navigation .main__navigation__item {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .main__navigation {
    margin: 90px auto 40px auto;
  }
}
.main__subtitile {
  font-family: "Montserrat";
  width: 100%;
}
.main__subtitile .title {
  font-weight: 500;
  font-size: 20px;
}
@media (max-width: 576px) {
  .main__subtitile .title {
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  .main__subtitile .title {
    font-size: 16px;
  }
}
.main__subtitile .subtitile {
  padding: 0 2px;
  width: 100%;
  font-size: 16px;
  height: auto;
}
@media (max-width: 768px) {
  .main__subtitile .subtitile {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .main__subtitile .subtitile {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .main__subtitile .subtitile {
    font-size: 12px;
    margin-bottom: 20px;
  }
}

.certificates__accordion {
  font-family: "Montserrat";
  width: 100%;
  height: auto;
  list-style: none;
}
.certificates__accordion .certificates__accordion__item_1 {
  position: relative;
}
.certificates__accordion .certificates__accordion__item_2 {
  position: relative;
}
.certificates__accordion .certificates__accordion__item_3 {
  position: relative;
}
.certificates__accordion .certificates__accordion__item_4 {
  position: relative;
}
.certificates__accordion .question {
  font-weight: 500;
  font-size: 20px;
  margin: 20px 0 20px 0;
}
@media (max-width: 768px) {
  .certificates__accordion .question {
    font-size: 18px;
    margin: 10px 0 10px 0;
  }
}
@media (max-width: 576px) {
  .certificates__accordion .question {
    font-size: 16px;
  }
}
@media (max-width: 450px) {
  .certificates__accordion .question {
    font-size: 14px;
  }
}

.certificates__accordion-header {
  width: 100%;
  min-height: 60px;
  height: auto;
  cursor: pointer;
  border: 1px solid black;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 25px;
}
.certificates__accordion-header .certificates__header {
  width: 85%;
  font-weight: 600;
}

@media (max-width: 768px) {
  .certificates__accordion-header {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .certificates__accordion-header {
    font-size: 16px;
  }
}
@media (max-width: 450px) {
  .certificates__accordion-header {
    min-height: 40px;
    font-size: 14px;
  }
}
.certificates__accordion-header.active {
  border-bottom: none;
}

.certificates__accordion-header:after {
  position: absolute;
  top: 15px;
  right: 0;
  content: "";
  width: 15px;
  height: 8px;
  margin: 10px 20px;
  background-image: url(../assets/Icons/Arrow_2.png);
  float: right;
}

.certificates__accordion-header.active:after {
  position: absolute;
  top: 15px;
  right: 0;
  content: "";
  width: 15px;
  height: 8px;
  margin: 10px 20px;
  background-image: url(../assets/Icons/Arrow_1.png);
}

@media (max-width: 450px) {
  .certificates__accordion-header:after, .certificates__accordion-header.active:after {
    top: 7.5px;
  }
}
.certificates__accordion-body {
  height: auto;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  display: none;
  padding: 15px 20px;
}
.certificates__accordion-body .certificates__accordion__hr {
  width: 100%;
  border: none;
  height: 1px;
  margin: 0;
  background-color: #000000;
}
.certificates__accordion-body .certificates__accordion-body__menu {
  display: flex;
  width: 100%;
}
.certificates__accordion-body .certificates__accordion-body__menu .options {
  font-size: 18px;
  width: 100%;
}
.certificates__accordion-body .certificates__accordion-body__menu .options .option {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
.certificates__accordion-body .certificates__accordion-body__menu .options .option:hover {
  background-color: #f9f9f9;
}
.certificates__accordion-body .certificates__accordion-body__menu .options .option.selected {
  background-color: #14ab00;
  color: #fff;
}
@media (max-width: 768px) {
  .certificates__accordion-body .certificates__accordion-body__menu .options {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .certificates__accordion-body .certificates__accordion-body__menu .options {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .certificates__accordion-body .certificates__accordion-body__menu .options {
    font-size: 12px;
  }
}

.footer {
  margin-top: 80px;
  padding: 40px;
  width: 100%;
  height: 290px;
  background-color: #000000;
  color: #ffffff;
  z-index: -5;
}
.footer .footer-container {
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 0.7fr 1.8fr;
  grid-template-rows: 1fr;
}
@media (max-width: 768px) {
  .footer .footer-container {
    grid-template-columns: 1fr 0.7fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media (max-width: 576px) {
  .footer .footer-container {
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
  }
}
.footer .footer__title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
@media (max-width: 576px) {
  .footer .footer__title {
    font-size: 10px;
  }
}
.footer .footer__contact .contact {
  width: auto;
}
@media (max-width: 576px) {
  .footer .footer__contact .contact {
    width: 125px;
  }
}
.footer .footer__contact .contact__item-1 {
  display: grid;
  grid-template-columns: 0.15fr 0.3fr;
  grid-template-rows: 1fr;
}
.footer .footer__contact .contact__item-1 .img {
  width: 25px;
  height: auto;
}
.footer .footer__contact .contact__item-1 .item__text {
  font-family: "Roboto" !important;
  width: 150px;
  height: 20px;
  margin-left: 15px;
  grid-column: 2/3;
  line-height: 25px;
  font-size: 16px;
  font-weight: 300;
  color: #a8a8a8;
}
@media (max-width: 576px) {
  .footer .footer__contact .contact__item-1 .item__text {
    font-size: 9px;
    margin-bottom: 0;
  }
  .footer .footer__contact .contact__item-1 .img {
    width: 15px;
  }
}
.footer .footer__contact .contact__item-2 {
  display: flex;
  margin-top: 25px;
}
.footer .footer__contact .contact__item-2 .img {
  width: 25px;
  height: auto;
  margin: auto 0;
}
.footer .footer__contact .contact__item-2 .item__text {
  font-family: "Roboto" !important;
  margin-left: 15px;
  width: 200px;
  height: 20px;
  line-height: 28px;
  font-size: 16px;
  font-weight: 300;
  color: #a8a8a8;
}
@media (max-width: 576px) {
  .footer .footer__contact .contact__item-2 .item__text {
    font-size: 9px;
    margin-bottom: 0;
  }
  .footer .footer__contact .contact__item-2 .img {
    width: 15px;
  }
}
.footer .footer__contact .contact__item-3 {
  display: flex;
  margin-top: 14px;
}
.footer .footer__contact .contact__item-3 .img {
  width: 25px;
  height: auto;
  margin: auto 0;
}
.footer .footer__contact .contact__item-3 .item__text {
  font-family: "Roboto" !important;
  margin-left: 15px;
  width: 200px;
  height: 20px;
  line-height: 21px;
  font-size: 16px;
  font-weight: 300;
  color: #a8a8a8;
}
@media (max-width: 576px) {
  .footer .footer__contact .contact__item-3 .item__text {
    font-size: 9px;
    margin-bottom: 0;
    width: a;
  }
  .footer .footer__contact .contact__item-3 .img {
    width: 15px;
  }
}
.footer .navbar .nav__item {
  text-decoration: none;
  color: #a8a8a8;
}
.footer .navbar .nav__item .navbar__item {
  margin: 14px 0 14px 0;
  list-style-type: none;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto" !important;
}
@media (max-width: 576px) {
  .footer .navbar .nav__item .navbar__item {
    margin: 0 0 10px 0;
    list-style-type: none;
    font-size: 10px;
    font-weight: 400;
  }
}
.footer .footer__social {
  margin-left: 20px;
  display: grid;
  grid-template-rows: 0.4fr 0.3fr 1fr;
  grid-template-columns: 0.8fr 1fr;
}
@media (max-width: 576px) {
  .footer .footer__social {
    margin-left: 10px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}
.footer .social__image {
  display: flex;
  justify-content: space-between;
  max-width: 190px;
  width: 100%;
}
.footer .social__image .image__item {
  position: relative;
  margin: 10px;
  border-radius: 50%;
  text-decoration: none;
}
@media (max-width: 425px) {
  .footer .social__image .image__item {
    margin: 0;
  }
  .footer .social__image .image__item img {
    width: 15px;
    height: 15px;
  }
}
.footer .logo {
  justify-self: right;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 136px;
  height: 136px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .logo .img {
  margin: auto auto;
  width: 95px;
  height: 95px;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .footer .logo {
    margin-top: 20px;
    width: 80px;
    height: 80px;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
  }
  .footer .logo .img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 576px) {
  .footer {
    height: auto;
    padding: 10px;
  }
}
@media (max-width: 350px) {
  .footer {
    height: auto;
    padding: 3px;
  }
}/*# sourceMappingURL=style.css.map */